In [1]:
import numpy as np
import pandas as pd

df= pd.read_csv('t_test.csv')

In [2]:
df.head()

     y1   y2   s1  s2    n1    n2
0     5    8    1   3   200   500
1  1090  999  400  30   900   100
2    45   40   45  40  2000  2000

In [3]:
def t_val(row):
    t_val = (row['y1']-row['y2'])/np.sqrt(((row['s1'])**2/row['n1'] + (row['s2'])**2/row['n2']))
    return t_val

df['t_value']= df.apply(t_val, axis=1)

In [4]:
df.head()

     y1   y2   s1  s2    n1    n2    t_value
0     5    8    1   3   200   500 -19.781414
1  1090  999  400  30   900   100   6.658537
2    45   40   45  40  2000  2000   3.713907